.information-button {
    margin: 0 11px 0 0;
}

.information-button__icon {
    font-size: 30px;
    opacity: 0.5;
    cursor: pointer;
}

.information-button-toggle {
    display: block !important;
}

.information-button-dark-mode {
    opacity: 1;
}