.calculator__exchange-rates {
    display: none;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    height: 448px;
    width: 230px;
    background: steelblue;

    .calculator__exchange-rates-list {
        padding: 15px 15px;
        list-style: none;

        .calculator__exchange-rates-list-item {
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}