.footer__container {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(41deg, rgba(34, 193, 195, 1) 0%, rgba(94, 4, 69, 1) 72%);
  text-align: center;

  .footer__text {
    color: #fff;
    font-size: 17px;
    margin-top: 14px;
  }
}
