.calculator__informations {
    display: none;
    position: absolute;
    top: 157px;
    left: 6px;
    height: 328px;
    width: 97%;
    background: #5B5EA6;
}

.calculator__informations-button-close-icon {
    margin: 3px 0 6px 0;
    padding: 5px 10px 5px 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.calculator__informations-text {
    height: 277px;
    width: 96%;
    font-size: 14px;
    margin-left: 7px;
    padding: 5px;
    background: #fff;
}

.informations-dark-mode {
    background: #778899;
    color: #fff;
}

@media (min-width: 975px) {
    .calculator__informations {
        position: static;
        width: 359px;
        height: 485px;
        margin-right: 4px;
        bottom: 0;

        .calculator__informations-text {
            height: 433px;
        }
    }
}

@media (min-width: 620px) and (max-width: 974px) {
    .informations-margin {
        margin-left: 115px;
    }
}